attrs
beautifulsoup4
chardet
crypto
dateutils
django
django-cors-headers
djangorestframework
djangorestframework-yaml
djangorestframework-filters
django-extra-fields
django-filter
django-fullclean
django-grappelli
django-ipware
django-uuslug
eventlet
greenlet
gunicorn
httpie
jpush
markdown
mysqlclient
pillow
pyaml
pyasn1
pyasn1-modules
pycrypto
#cryptography
pygments
pyopenssl
python-dateutil
requests
scrapy
scrapy-djangoitem
sphinx
wechatpy
xlscript
