chardet
pyaml
pyopenssl

pillow

dateutils
python-dateutil

greenlet
eventlet
gunicorn

django
django-filter
django-cors-headers
djangorestframework
djangorestframework-yaml
djangorestframework-filters
django-fullclean
django-grappelli

pygments

mysqlclient

wechatpy
jpush
xlscript

Crypto
pycrypto

Sphinx
markdown

httpie
requests
beautifulsoup4

pyasn1-modules
pyasn1
attrs
scrapy
scrapy-djangoitem
